@charset "UTF-8";
.btn_accueil {
  width: 200px;
  display: flex;
  height: 50px;
  border-radius: 25px;
  background: linear-gradient(#ff79da, #9356dc);
  justify-content: center;
  align-items: center;
  border-style: none;
  box-shadow: 4px 4px 6px #e6e6e6;
  color: white;
  margin-bottom: 45px; }

.btn_commander {
  width: 200px;
  display: flex;
  height: 50px;
  border-radius: 25px;
  background: linear-gradient(#ff79da, #9356dc);
  justify-content: center;
  align-items: center;
  border-style: none;
  box-shadow: 4px 4px 6px #e6e6e6;
  color: white; }

.base_site {
  margin: auto;
  font-family: roboto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  font-family: "Roboto", sans-serif;
  width: 100%;
  max-width: 400px; }

* {
  box-sizing: border-box; }

footer {
  background-color: #353535;
  color: white;
  font-size: 18px;
  height: auto;
  padding-left: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start; }

.footer_liste--titre {
  font-family: "Shrikhand";
  font-size: 22px;
  padding-bottom: 20px; }

.footer_liste--lien {
  text-decoration: none;
  color: white; }

.footer_liste--elem {
  margin: 0;
  padding-bottom: 8px; }

.footer_liste--elem i {
  padding-right: 10px; }

.page_menu--logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 30px 0 20px 0; }

.page_menu--logo img {
  height: 34px;
  width: 196px; }

.page_menu--logo i {
  font-size: 22px;
  padding: 0 40px 0 15px;
  color: black; }

.menu_pres {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  object-fit: cover;
  background-color: #f6f6f6; }

.menu_pres--img {
  width: 100%;
  height: 266px;
  object-fit: cover; }

.menu_disposition {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  padding: 0 3%; }

.menu_pres h2 {
  font-family: "Shrikhand", cursive;
  font-weight: 500;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: center;
  margin-top: -50px;
  background-color: #f6f6f6;
  border-radius: 35px 35px 0 0;
  height: 70px;
  padding: 15px 15px 15px 3%;
  margin-bottom: 0; }

.menu_pres .fa-heart {
  font-size: 18px;
  align-self: center;
  padding-right: 15px; }

.menu_pres .fa-heart:hover {
  font-weight: 800;
  background: linear-gradient(#9356dc, #ff79da);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

.menu_pres dl {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin-top: 0;
  gap: 8px; }

.menu_pres dd {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  margin-inline-start: 0;
  background-color: white;
  height: 60px;
  border-radius: 15px 15px;
  width: 100%;
  vertical-align: middle;
  padding: 2%;
  font-size: smaller;
  box-shadow: 4px 4px 6px #e6e6e6; }

.menu_titre--reglage {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between; }

.menu_titre--reglage span {
  padding-right: 13px; }

.prix {
  font-weight: bold; }

.menu_titre-plat {
  font-size: 18px; }

.menu_gestion--btn {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 25px 0; }

.fonctionnement {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  margin-bottom: 25px;
  width: 100%; }

.fonctionnement_liste {
  list-style: none;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  width: 100%;
  justify-content: center;
  align-items: center; }

.fonctionnement a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center; }

.fonctionnement dt {
  font-weight: bold;
  font-size: 24px;
  margin-left: 15px;
  align-self: flex-start; }

.fonctionnement dd {
  display: flex;
  align-items: center;
  margin: 0;
  height: 70px;
  text-align: center;
  border-radius: 18px;
  box-shadow: 4px 4px 6px #e6e6e6;
  width: 90%;
  padding-left: 15px;
  margin-top: 25px;
  background-color: #f6f6f6;
  margin-left: 15px; }

.fonctionnement i {
  padding-right: 15px;
  color: gray; }

.fonctionnement_lien--var {
  background: #f5edff; }

.fonctionnement dd:hover {
  background-color: #f5edff; }

.fonctionnement dd:hover i {
  color: #9356dc; }

.fonctionnement_liste--chiffre {
  width: 25px;
  height: 25px;
  border-radius: 50px;
  color: white;
  background-color: #9356dc;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -27px;
  margin-right: 15px; }

/*gestion du nav*/
.navigation_base {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  background-color: #f6f6f6;
  padding: 0 4%; }

.navigation_base h2 {
  font-size: 1.5em;
  padding: 0;
  margin: 0;
  text-align: center;
  padding-top: 35px; }

.navigation_base p {
  color: #686868;
  text-align: center; }

.navigation_base a {
  text-decoration: none;
  color: white; }

.navigation_base button {
  width: 200px;
  display: flex;
  height: 50px;
  border-radius: 25px;
  background: linear-gradient(#ff79da, #9356dc);
  justify-content: center;
  align-items: center;
  border-style: none;
  box-shadow: 4px 4px 6px #e6e6e6;
  margin-bottom: 45px; }

/*gestion du header */
.header_site--basic {
  width: 100%;
  height: 120px; }

.header_site--basic h1 {
  font-family: "Shrikhand", cursive;
  background-color: white;
  width: 100%;
  height: 60%;
  padding: 2%;
  margin: 0;
  text-align: center;
  box-shadow: 4px 4px 6px #e6e6e6;
  border: 1px solid #e6e6e6; }

.header_site--basic i {
  padding-right: 1em;
  font-size: larger; }

.header_site--basic .localisation {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eaeaea;
  height: 40%;
  padding-top: 0;
  margin: 0; }

/* fin du header */
/* début du main */
.restaurant {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #e6e6e6; }

.restaurant_titre {
  margin-left: 15px; }

.restaurant_boite {
  width: 100%;
  height: 1050px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 60px; }

.restaurant_carte {
  width: 100%;
  height: 234px;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 4px 4px 6px #e6e6e6;
  margin: 0;
  padding-left: 0;
  margin-inline: 0;
  margin-block: 0;
  background-color: white; }

.restaurant_carte figcaption {
  margin: 0;
  padding: 7px 10px; }

.restaurant_carte h3 {
  margin: 0; }

.restaurant_carte p {
  margin: 0; }

.restaurant_carte--coeur .fa-heart {
  font-size: 25px;
  vertical-align: top; }

.restaurant_carte--coeur .fa-heart:hover {
  font-weight: 800;
  background: linear-gradient(#9356dc, #ff79da);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

.restaurant img {
  height: 165px;
  width: 100%;
  object-fit: cover; }

.restaurant_carte--ajustement {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding-right: 15px;
  height: 40px; }

.restaurant_carte--lien {
  text-decoration: none;
  color: black;
  padding: 0;
  margin: 0;
  width: 95%; }
