@mixin btn {
  width: 200px;
  display: flex;
  height: 50px;
  border-radius: 25px;
  background: linear-gradient($color-secondary, $color-primary);
  justify-content: center;
  align-items: center;
  border-style: none;
  box-shadow: 4px 4px 6px #c7c7c7;

  color: white;
}

.btn_accueil {
  @include btn;
  margin-bottom: 45px;
  transition: linear 0.3s;
}

.btn_accueil:hover {
  box-shadow: 4px 4px 6px darken(#e6e6e6, 30%);
  filter: brightness(110%);
}

.btn_commander {
  @include btn;
}
.btn_commander:hover {
  box-shadow: 4px 4px 6px darken(#e6e6e6, 30%);
  filter: brightness(110%);
}

@media (min-width: 1025px) {
  .btn_accueil {
    margin-bottom: 12px;
  }
}
