.menu_pres {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  object-fit: cover;
  background-color: #f6f6f6;
}
.menu_pres--img {
  width: 100%;
  height: 266px;
  object-fit: cover;
}

.menu_disposition {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  padding: 0 3%;
}

.menu_souligne {
  width: 40px;
  height: 3px;
  background-color: $third-color;
  position: relative;
  top: -4px;
}
.menu_pres h2 {
  font-family: "Shrikhand", cursive;
  font-weight: 500;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: center;
  margin-top: -50px;
  background-color: #f6f6f6;
  border-radius: 35px 35px 0 0;
  height: 70px;
  padding: 15px 15px 15px 3%;
  margin-bottom: 0;
}

.menu_pres .fa-heart {
  font-size: 18px;
  align-self: center;
  padding-right: 15px;
}

.menu_pres .fa-heart:hover {
  font-weight: 800;
  background: linear-gradient($color-primary, $color-secondary);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.menu_pres dl {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin-top: 0;
  gap: 8px;
}

.menu_pres dd {
  display: flex;
  flex-flow: nowrap raw;
  justify-content: space-between;
  margin-inline-start: 0;
  background-color: white;
  height: 60px;
  border-radius: 15px 15px;
  width: 100%;
  vertical-align: middle;
  font-size: smaller;
  box-shadow: 4px 4px 6px #e6e6e6;
  overflow: hidden;
}

.menu_titre--reglage {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin: 0;
  margin-top: 4px;
}

.menu_titre--reglage span {
  padding-right: 13px;
}

.prix {
  font-weight: bold;
}

.menu_titre-plat {
  font-size: 18px;
}

.menu_gestion--btn {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 25px 0;
}

.menu_titre--agencement {
  width: 100%;
  height: 100%;
  padding: 2%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
}

@media (min-width: 481px) and (max-width: 1024px) {
  .page_menu--logo {
    margin: 30px 0 20px 25px;
  }
}

/*a suppr */

.menu_test:hover .menu_animation {
  animation: pousse_droite 0.5s linear forwards;
}

.menu_test:hover .menu_animation .fa-circle-check {
  animation: rotate_check 0.5s linear;
}

.menu_test {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin-inline-start: 0;
  background-color: white;
  height: 60px;
  border-radius: 15px 15px;
  width: 100%;
  vertical-align: middle;
  font-size: smaller;
  box-shadow: 4px 4px 6px #e6e6e6;
  overflow: hidden;
  text-overflow: ellipsis;
}

.reglage-text {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  padding: 2% 0 2% 2%;
}
.menu_test--plat {
  width: 100%;
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  text-overflow: ellipsis;
  overflow: hidden;
}

.menu_test--reglage {
  display: flex;
  width: 100%;
  height: auto;
  flex-flow: row nowrap;
  justify-content: space-between;
  text-overflow: ellipsis;
  overflow: hidden;
}
.test-p {
  margin: 0;
  margin-block: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.test-prix {
  box-sizing: border-box;
  padding-right: 2%;
  margin-block-end: 0;
  margin-block-start: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}
