.page_menu--logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0 0 20px 0;
  padding-top: 35px;
}
.page_menu--logo img {
  height: 34px;
  width: 196px;
}

.page_menu--logo i {
  font-size: 22px;
  padding: 0 40px 0 15px;
  color: black;
}
