footer {
  background-color: #353535;
  color: white;
  font-size: 18px;
  height: auto;
  padding-left: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: auto;
}

.footer_liste--titre {
  font-family: "Shrikhand";
  font-size: 22px;
  padding-bottom: 20px;
}

.footer_liste--lien {
  text-decoration: none;
  color: white;
}
.footer_liste--elem {
  margin: 0;
  padding-bottom: 8px;
}
.footer_liste--elem i {
  padding-right: 10px;
}

.fa-handshake-angle {
  font-size: 13px;
}

@media (min-width: 481px) and (max-width: 1024px) {
  footer {
    padding-left: 0px;
    align-items: center;
  }
}

@media (min-width: 1025px) {
  footer {
    padding: 0 15%;
  }

  footer dl {
    margin-left: 15px;
  }
}
