/* début du main */
.restaurant {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #e6e6e6;
}
.restaurant_titre {
  margin-left: 15px;
}
.restaurant_boite {
  width: 100%;
  height: 1050px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 60px;
}
.restaurant_carte {
  width: 100%;
  height: 234px;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 4px 4px 6px #e6e6e6;
  margin: 0;
  padding-left: 0;
  margin-inline: 0;
  margin-block: 0;
  background-color: white;
  position: relative;
}

.restaurant_carte figcaption {
  margin: 0;
  padding: 7px 10px;
}

.restaurant_carte h3 {
  margin: 0;
}

.restaurant_carte p {
  margin: 0;
}

.restaurant_carte--coeur .fa-heart {
  font-size: 25px;
  vertical-align: top;
  color: transparent;
  text-shadow: 0 0 0 black;
}

.restaurant_carte--coeur .fa-heart:hover {
  font-weight: 800;
  text-shadow: unset;
  background: linear-gradient($color-primary, $color-secondary);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 0.5s linear;
}

.restaurant img {
  height: 165px;
  width: 100%;
  object-fit: cover;
}

.restaurant_carte--ajustement {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding-right: 15px;
  height: 40px;
}

.restaurant_carte--lien {
  text-decoration: none;
  color: black;
  padding: 0;
  margin: 0;
  width: 95%;
}

.restaurant_carte--nouveau {
  background-color: $third-color;
  color: darken($third-color, 30%);
  width: 70px;
  height: 26px;
  text-align: center;
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: small;
  font-weight: 500;
  padding: 0;
  margin: 0;
  padding: 2%;
}

@media (min-width: 481px) and (max-width: 1024px) {
  .restaurant_boite {
    flex-flow: row wrap;
    justify-content: center;
    height: auto;
    row-gap: 20px;
    gap: 20px;
  }

  .restaurant_carte {
    width: 100%;
  }

  .restaurant_carte--lien {
    width: 45%;
  }
}

@media (min-width: 1025px) {
  .restaurant_boite {
    flex-flow: row wrap;
    justify-content: center;
    height: auto;
    row-gap: 20px;
    gap: 20px;
    margin-top: 25px;
  }

  .restaurant_carte--lien {
    width: 22%;
  }
}
