.menu_delay dd {
  animation: slide_bot 750ms linear forwards;
  opacity: 0;
}

.menu_delay dd:nth-child(3) {
  animation-delay: 0.2s;
}

.menu_delay dd:nth-child(4) {
  animation-delay: 0.3s;
}

.menu_delay dd:nth-child(5) {
  animation-delay: 0.4s;
}

@keyframes slide_bot {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }

  40% {
    opacity: 0.2;
  }

  60% {
    opacity: 0.4;
  }

  80% {
    opacity: 0.6;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
