.menu_animation {
  width: 0;
  height: 60px;
  padding: 0;
  background-color: $third-color;
  opacity: 0;
}

.menu_entree dd:hover .menu_animation {
  animation: pousse_droite 0.5s linear forwards;
}

.menu_entree dd:hover .menu_animation .fa-circle-check {
  animation: rotate_check 0.5s linear;
}

.menu_plat dd:hover .menu_animation {
  animation: pousse_droite 0.5s linear forwards;
}

.menu_plat dd:hover .menu_animation .fa-circle-check {
  animation: rotate_check 0.5s linear;
}

.menu_dessert dd:hover .menu_animation {
  animation: pousse_droite 0.5s linear forwards;
}

.menu_dessert dd:hover .menu_animation .fa-circle-check {
  animation: rotate_check 0.5s linear;
}
.menu_animation--vert {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.fa-circle-check {
  font-size: 22px;
  color: white;
}

@keyframes pousse_droite {
  0% {
    width: 0;
    opacity: 0;
  }

  100% {
    width: 60px;
    opacity: 1;
    padding: 2%;
  }
}

@keyframes rotate_check {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}
