.base_site {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  font-family: "Roboto", sans-serif;
  width: 100%;
  max-width: 1266px;
}

* {
  box-sizing: border-box;
}
