.base_site {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  font-family: "Roboto", sans-serif;
  width: 100%;
}

* {
  box-sizing: border-box;
}
@media (min-width: 1025px) { 
  max-width: 1025px;
}